body {
  font-family: sans-serif;
}
input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}
button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
  margin-left: 8px;
}
button:hover {
  background-color: #545454;
  color: #fff;
  cursor: pointer;
}
.input-area {
  background-color: #a49e4c;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.imcomplete-area {
  background-color: #a44c5b;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.complete-area {
  background-color: #4c50a4;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}
.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
